/* ================ HAMBURGER ICON ================ */

/* ------------------------------
    <div class="hamburger-icon">
        <span></span>
        <span class="half-width"></span>
        <span></span>
    </div>
    ------------------------------- */

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;
    padding: 1px;
}

.hamburger-icon span {
    background-color: #000;
    height: 2px;
    border-radius: 1px;
}

.half-width {
    width: 60%;
    align-self: flex-end;
    transition: width 0.2s ease;
}

.hamburger-icon:hover .half-width {
    width: 100%;
}
