@media only screen and (max-width: 1005px) {
    .after-title-section {
        height: 150vh;
    }

    .after-title-section > div {
        flex-direction: column;
        width: 85%;
    }

    .after-title-section > div div {
        margin: 0;
    }
}
