@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
    color: #212529;
}

/* =============
    IN COMMON
   ============= */

.txt-inpt {
    color: #212529;
    border-radius: 4px 0 0 4px;
    padding: 7px 12px;
    border: 1px solid #dddddd;
}

/* =============
    MAIN
   ============= */

/* ADDRESS SECTION */
.address-sctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 75px 0;
    margin-bottom: 100px;
}
/* 
.address-sctn::after {
    content: '';
    max-width: 600px;
    width: 85%;
    height: 1px;
    background-color: #6c757d7e;
    margin: 60px auto;
} */

.address-sctn .logo-dv {
    width: 90px;
    background-color: #563d7c;
    border-radius: 10px;
    font-size: 2em;
    font-weight: 600;
    color: white;
    line-height: 75px;
    vertical-align: middle;
    box-shadow: 0 0 6px #563d7c7c;
    border: 3px solid #654b8d;
    user-select: none;
}

.address-sctn .page-title {
    padding: 40px 0 15px 0;
    font-size: 2em;
    font-weight: 400;
    width: 90%;
}

.address-sctn p {
    line-height: 165%;
    font-size: 1em;
    max-width: 680px;
    width: 90%;
    font-weight: 300;
}

/* FORM SECTION */

.form-sctn {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

.form-sctn .your-cart-dv {
    width: 36%;
    float: right;
}

.your-cart-dv h3 {
    position: relative;
    font-size: 1.4em;
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 20px;
}

.your-cart-dv h3 span:last-child {
    position: absolute;
    right: 0;
    background-color: #6c757d;
    padding: 0 10px;
    border-radius: 15px;
    color: #ffffff;
}

.your-cart-dv ul {
    border: 1px solid #dfdfdf;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.your-cart-dv ul li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.your-cart-dv ul li:last-of-type {
    border-bottom: none;
}

.your-cart-dv li span {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #6c757d;
    font-size: 1em;
}

.your-cart-dv ul .total-spn {
    color: #212529;
    font-weight: bold;
}

.your-cart-dv li h5 {
    font-size: 1em;
    font-weight: 500;
}

.your-cart-dv small {
    color: #6c757d;
    font-size: 0.75em;
}

.your-cart-dv ul .total-title {
    font-weight: 400;
}

.your-cart-dv > div {
    margin-top: 15px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding: 15px;
}

.your-cart-dv > div input {
    outline: none;
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.your-cart-dv form {
    display: flex;
}

.your-cart-dv > div .redeem-btn {
    background-color: #6c757d;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    padding: 8px 0;
    width: 90px;
}

.your-cart-dv > div .redeem-txt-inpt {
    border-right: none;
    width: calc(100% - 90px);
}

.your-cart-dv .green-mode {
    background-color: #f2f2f2;
    color: #28a745;
}

/* ---------- */

.line::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dfdfdf;
    margin: 5px 0 20px 0;
}

.form-sctn .form-dv {
    width: 60%;
    font-size: 0.9em;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    float: left;
}

.form-dv label,
.form-dv input,
.form-dv select {
    display: block;
    width: 100%;
}

.form-dv input,
.form-dv select {
    outline: none;
    font-size: 1em;
    border-radius: 4px;
}

.form-dv label {
    margin-bottom: 6px;
}

.form-dv span {
    color: #6c757d;
}

.username-dv {
    display: flex;
}

.form-dv .username-spn {
    display: inline-block;
    border: 1px solid #ced4da;
    border-right: none;
    background-color: #e9ecef;
    padding: 7px 0;
    width: 40px;
    text-align: center;
    color: #212529;
    border-radius: 4px 0 0 4px;
}

.form-dv .username-txt-inpt {
    border-radius: 0 4px 4px 0;
    width: calc(100% - 40px);
}

.form-dv .input-dv {
    padding: 5px;
    margin: 7px;
    position: relative;
}

.form-dv .flexed-parent-dv {
    display: flex;
    flex-flow: row wrap;
}

.form-dv .flexed-child-dv {
    flex: 1 1 200px;
}

.form-dv .payment-title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-dv .checkbox-dv input,
.form-dv .radio-dv input {
    display: none;
}

.form-dv .checkbox-dv label,
.form-dv .radio-dv label {
    margin-top: 6px;
    display: flex;
    align-items: center;
    font-size: 0.95em;
}

.radio-box,
.checkbox-box {
    width: 1em;
    height: 1em;
    border: 1px solid #6c757d;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: background-color 0.2s, border-color 0.1s;
}

.radio-box {
    border-radius: 50%;
}

.checkbox-box {
    border-radius: 3px;
}

.checkbox-box::after,
.radio-box::after {
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s;
}

.radio-box::after {
    content: '\2024';
    font-size: 3.3em;
    margin-top: -32px;
}

.checkbox-box::after {
    content: '\2714';
    font-size: 0.6em;
}

.form-dv .checkbox-dv input:checked + .checkbox-box,
.form-dv .radio-dv input:checked + .radio-box {
    background-color: #007bff;
    border-color: #007bff;
}

.form-dv .checkbox-dv input:checked + .checkbox-box::after,
.form-dv .radio-dv input:checked + .radio-box::after {
    opacity: 1;
    transform: scale(1);
}

.form-dv .half-width-dv {
    width: 50%;
}

.form-dv input[type='submit'] {
    height: 50px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.form-dv input[type='submit']:hover,
.form-dv input[type='submit']:focus {
    background-color: #1a71ce;
}

/* ===========
    FOOTER
   =========== */

footer::before {
    content: '';
    display: block;
    max-width: 400px;
    width: 85%;
    height: 1px;
    background-color: #dfdfdf;
    margin: 60px auto 45px auto;
}

footer {
    text-align: center;
    padding: 50px 0;
}

footer p {
    font-size: 0.9em;
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 13px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: #007bff;
    font-size: 0.9em;
    margin: 0 4px;
    transition: color 0.2s;
}

footer a:hover {
    color: #0063ce;
}

footer a:active {
    color: #004ea1;
}
