/* ================ GENERAL ================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 14pt;
    perspective: 1000px;
}

/* ================ ANIMATION ================ */

.container {
    width: 440px;
    height: 140px;
    margin: 50px auto;
    border-top: 1px dotted #d9d9d9;
    border-left: 1px dotted #d9d9d9;
    border-right: 1px dotted #d9d9d9;
    padding: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}

.box,
.link {
    height: 100px;
    line-height: 100px;
    color: white;
}

.box {
    background-color: #046ee5;
    cursor: default;
}

.link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    background-color: rgb(95, 94, 94);
    letter-spacing: 0.5px;
    position: relative;
    top: -100px;
    transform-origin: top;
    transform: rotateX(60deg);
    z-index: -1;
    transition: top 0.2s linear;
}

.container:hover .link {
    top: 0;
    animation: swinging 0.5s ease-out 0.2s;
    animation-fill-mode: forwards;
}

@keyframes swinging {
    0% {
        transform: rotateX(50deg);
    }

    40% {
        transform: rotateX(-30deg);
    }

    80% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}
