/* --------------- GENERAL -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    perspective: 1000px;
}

/* --------------- ELEMENTS -------------- */

.right,
.left {
    transform: translateZ(-500px);
    transition: left 200ms ease-out, transform 500ms ease;
    z-index: 1;
}

.right {
    left: 60vw;
}

.left {
    left: -3vw;
}

.current {
    left: 29vw;
    transform: translateZ(0);
    transition: left 300ms ease, transform 200ms ease;
    z-index: 2;
}

/* -------------
    Slider
    ------------- */

.slider {
    margin: 100px 0;
    height: 450px;
    /* background: linear-gradient(90deg, #28a74693, #5ece7893, #28a74693); */
    /* box-shadow: 0 1px 10px 0 #3f3f3f63, 0 -1px 10px 0 #3f3f3f63; */
    border: 1px solid rgba(0, 0, 0, 0.219);
    position: relative;

    /* Flex Box */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.slide {
    width: 42vw;
    padding: 30px 0 40px 0;
    position: absolute;
    border-radius: 25px;

    /* Flex Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide * {
    color: white;
}

.slider__slide--1 {
    background-color: rgba(190, 53, 53, 0.9);
    top: 30px;
}

.slider__slide--1:hover {
    background-color: rgba(190, 53, 53);
}

.slider__slide--2 {
    background-color: rgba(39, 175, 39, 0.9);
    top: 57.5px;
}

.slider__slide--2:hover {
    background-color: rgba(39, 175, 39);
}

.slider__slide--3 {
    background-color: rgba(42, 42, 153, 0.9);
    top: 45px;
}

.slider__slide--3:hover {
    background-color: rgba(42, 42, 153);
}

.slide__heading {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 300;
}

.slide__para {
    font-size: 1.2rem;
    width: 40vw;
    text-align: center;
    line-height: 28px;
    color: rgb(214, 214, 214);
}

.slide__btn {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    background-color: rgb(22, 104, 22);
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.slide__btn:focus {
    box-shadow: 0 0 0 3px rgba(22, 104, 22, 0.39);
}

.slider__arrow {
    cursor: pointer;
    user-select: none;
    /* font-size: 1.3rem; */
    width: 10%;
    /* border-left: 1px solid #02501411;
    border-right: 1px solid #02501411; */
    z-index: 2;

    /* Flex Box */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__arrow:hover {
    background-color: #50505093;
}

.slider__arrow:active {
    background-color: #505050d0;
}
