@media only screen and (max-width: 1024px) {
    .prices-sec button {
        top: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 880px) {
    header {
        height: 165px;
        padding: 20px 0;
    }

    header .page-title {
        flex: none;
        width: 100%;
        text-align: center;
    }

    header nav {
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }

    header .signup-btn {
        margin: 0 auto;
    }

    footer .copyright {
        flex: none;
        width: 100%;
        margin-bottom: 25px;
    }
}
